@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.2;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ------------ Reset ------------------*/

html {
    background-color: white;
}

body {
    width: 760px;
    background-color: #3f4649;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    fobt-weight: 600;
    color: #71777a;
    padding: 25px;
    padding-top: 0;
}

header {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #dbdbdb;
    font-weight: 700;
}

button, #main-buttons button.active {
    background-color: #be0000;
    color: #eeeeee;
    border: none;
    font-family: 'Open Sans', sans-serif;	
	cursor:pointer;
	
}
#main-buttons button.active {
	cursor:default;
}
img[alt="Arena Logo"] {
    margin-left: 60px;
    float: left;
}
.preLoader{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(../images/294.gif) no-repeat center, url(../images/arena-logo.png) no-repeat scroll 88px 0px  #666;
	z-index:9999;
	ba
	
}
#main-buttons {
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    overflow: hidden;
}

#main-buttons li {
    width: 260px;
    float: left;
	cursor:pointer;
}

#main-buttons button {
    width: 100%;
    font-size: 21px;
    line-height: 54px;
    background-color: #2d2f31;
    color: #3f4649;
    font-weight: 700;
	
}

#main-buttons li:first-child button {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#main-buttons li:last-child button {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.movie-posters {
    clear: both;
    overflow: hidden;
    margin-top: 15px;
	align-items: center;
	text-align: center;
}

.movie-posters li {
	width: 177px;
	margin: auto;
	display: inline-block;
}



.movie-posters li img {
    width: 140px;
    height: auto;
    border: 2px solid #2d2f31;
    -moz-box-shadow: 0px 1px 2px #333a3d;
    -webkit-box-shadow: 0px 1px 2px #333a3d;
    box-shadow: 0px 1px 2px #333a3d;
}

.movie-postersUp {
    clear: both;
    overflow: hidden;
    margin-top: 15px;
	align-items: center;
	text-align: center;
}

.movie-postersUp li {
	width: 177px;
	margin: auto;
	display: inline-block;
}



.movie-postersUp li img {
    width: 140px;
    height: auto;
    border: 2px solid #2d2f31;
    -moz-box-shadow: 0px 1px 2px #333a3d;
    -webkit-box-shadow: 0px 1px 2px #333a3d;
    box-shadow: 0px 1px 2px #333a3d;
}

.castScr{
	margin-top:10px;
	margin-bottom:10px;
}
#week-days {
    background-color: #2d2f31;
    height: 60px;
    margin-top: 15px;
    -moz-box-shadow: inset 0px -2px 1px #282a2c;
    -webkit-box-shadow: inset 0px -2px 1px #282a2c;
    box-shadow: inset 0px -2px 1px #282a2c;
}

#week-days li {
    float: left;
    border-right: 1px solid #3c3e40;
    text-align: center;
    width: 78px;
    line-height: 60px;
    font-size: 22px;
    font-weight: 400;
    height: 100%;
	cursor:pointer;
}

#week-days li.active {
    background-color: #be0000;
    color: #dbdbdb;
    font-weight: 700;
	cursor:default;
}

#week-days li:first-child {
    width: 125px;
    height: 54px;
    padding-top: 6px;
    line-height: 1;
	cursor:default;
}

#week-days li:first-child span {
    font-weight: 700;
}

#week-days li:nth-of-type(2) {
    font-size: 14px;
    height: 54px;
    padding-top: 6px;
    line-height: 1;
	cursor:default;
}

#week-days li:last-child {
    border-right: none;
}

#arrow-container {
    margin-bottom: 25px;
    position: relative;
    height: 20px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #be0000;
    position: absolute;
    left: 381px;
}

.movie-detail-widget {
    background-color: #2d2f31;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 25px;
    -moz-box-shadow: inset 0px -2px 1px #282a2c;
    -webkit-box-shadow: inset 0px -2px 1px #282a2c;
    box-shadow: inset 0px -2px 1px #282a2c;
}

.movie-detail-widget img {
    float: left;
    border: 2px solid #363a3d;
    width: 125px;
    height: auto;
}

.movie-details {
    float: left;
    margin-left: 46px;
    width: 405px;
    font-weight: 600;
}

.movie-details h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 22px;
}

.movie-details span {
    color: #dbdbdb;
    font-size: 14px;
    font-weight: 400;
}

.movie-details h2, .movie-details p {
    display: inline;
    font-size: 14px;
}

.movie-details .synopsis-container {
    margin: 10px 0;
}

.movie-price {
    float: left;
	width: 162px;
	margin-left: 0px;
	text-align: center;
}

.movie-price .price {
  margin-top: 74px;
    margin-bottom: 5px;
    color: #dbdbdb;
    font-size: 15px;
}
.marginLeftMoviePrice{
	margin-left: 18px;
}
.overwriteMargin{
	margin-left: 26px;
}
.overwriteMarginTop{
	margin-top: -43px;
	margin-left: 19px;
}
.movieListingBottomUp{
	margin-top: -25px;
}
.movie-postersUp img,.movieListingBottomUp img,.movieListingBottomUp .listingItem{
	cursor:auto !important;
}
.tralier{
	background:chocolate;
}
.movie-price button {
    font-weight: 700;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 2px 15px;
    margin-bottom: 15px;
    -moz-box-shadow: 0px 1px 1px #282a2c;
    -webkit-box-shadow: 0px 1px 1px #282a2c;
    box-shadow: 0px 1px 1px #282a2c;
}
.uptralier{margin-top: 36px;
}
.images_container img{
	width:196px;
	height:290px;
	padding:10px;
}
.hideMe{
	display:none !important;
}
#alpha-layer{
	background-color:black;
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	opacity:0.6;
	
}
.listingItem{
	cursor:pointer;
}
.modal{
	position:fixed;
	top: 97px;
	background-color:#2d2f31;
	border: 1px solid #3f4649;
	padding:18px;
	width:722px;
	padding-right: 5px;
}

.close-btn{
	position:absolute;
	top: 10px;
	right:10px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	padding-top: 0px;
}

.modal-left, .modal-right{
	float:left;
}

.modal-left{
	width: 177px;
	padding-top: 3px;
}

.modal-right{
	width:480px;
}

.modal-left img{
	border: 3px solid #363a3d;
}

table{
	border: 1px solid red;
	width:100%;
	margin: 20px 0;
}

thead{
	background-color: #dbdbdb;
	color: #2d2f31;
	font-size:14px;
	font-weight:700;
}

th, td{
	padding: 7px 0;
}

table th:first-child{
	width:150px;
}

tr{
	text-align:center;
	border: 1px solid #dbdbdb;
}

tr td:first-child{
	border-right:1px solid #dbdbdb;
}

tbody{
	color: #dbdbdb;
	font-weight: 400;
	font-size:15px;
}
.movieTrailer{
	background: url(../../../admin/assets/images/plays.png) scroll 47px 78px no-repeat;
	width: 140px;
	height: 209px;
	display: block;
	position: absolute;
	left: 20px;
	top: 20px;
}

.soon{width:100%; height:300px; background:url(../images/soon.jpg) center no-repeat #2d2f31; display:none;
}
.colorblack{
	color:black !important;
}
.threed{
	color:#be0000 !important;
}
.showTimesDays span{
	background: black;
	padding: 2px;
	padding-left: 5px;
	padding-right: 7px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 7px;
	display: inline-block;
	
}
.h5Disclaimer{
	font-size: 11px;
text-align: right;
color: #ccc;
}