body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.clear{
	clear:both;
	min-height:10px;
}
.pricingText{
	text-align:right;
}
.clearOnly{
	clear:both;
}
.movieTitle{
	font-size:20px;
}
.closeSch{
	float:right;
}
.loader{
	position:fixed;
	right:10px;
	top:10px;
	font-size:20px;
	color:white;
	z-index:9999;
}